<div class="info w-50">
    <app-table-block-users (showPassengerInfoButtonPressedEvent)="openPassengerModal($event)" (showDriverInfoButtonPressedEvent)="openDriverModal($event)" [passengerChanged]="passenger" [driverChanged]="driver"></app-table-block-users>
</div>
<div *ngIf="modalIsOpened">
    <app-modal-change-blocked-status [passenger]="chosenPassenger" [driver]="chosenDriver" (passengerBlockedStatusChanged)="passengerChanged($event)" (driverBlockedStatusChanged)="driverChanged($event)" (modalIsClosed)="closeModal()"></app-modal-change-blocked-status>
</div>