.arial_font {
    font-family: Arial;
}

.bg_gray {
    background: rgb(238, 237, 237);
}

.bg_black {
    background-color: black;
}

::placeholder {
    font-family: Arial;
}

.borderless_input {
    border: none;
    outline: none;
}

.input_size {
    padding: 12px;
    line-height: 2px;
    width: 100%;
}

.center_text {
    text-align: center;
}

input:focus {
    border: 2px solid black;
}

input,
label {
    display: block;
}

.left_element {
    float:left;
    width: 40%;
    margin-left: 5%;
}

.right_element {
    float:right;
    margin-right:5%;
    width: 200px;
}

.fb_color {
    color:#4267B2;
}

.fb_button {
    font-family: Arial;
    font-size: 15px;
    background-color: white;
    border-color: #cdcdcd;
    height: 40px;
    color: black;
}

.fb_button:hover {
    background-color:#afc9fc;
    border-color: #4267B2;
}