.bg-pic {
    background-image: url('../../../../assets/taxi2.jpg');
    height: 100vh;
    width: 100vw;
    position: relative;
    background-size: cover;
    background-repeat: repeat;
    padding-top: 10%;
}

.info {
    margin: auto;
    background-color: white;
    width: 50%;
    height: 25%;
    text-align: center;
    padding-inline: 5%;
}

.arial_text {
    font-family: Arial;
}

.mat-icon {
    font-size: 100px;
    height: 100px;
    width: 100px;
}

h4 {
    margin-top: 2%;
}