<div class="modal-container">
    <div class="modal animate__animated animate__fadeInDown" id="updatePassword" tabindex="-1" role="dialog" aria-labelledby="updatePasswordLabel" aria-hidden="true" [ngStyle]="{'display':displayStyle}">
       <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
             <div class="modal-header">
                <h5 class="modal-title arial_font" id="updatePasswordLabel">Change password</h5>
                <button type="button" class="close" (click)="closeModal()">
                <span aria-hidden="true">&times;</span>
                </button>
             </div>
             <div class="modal-body">
                <form>
                   <div>
                      <label for="driverRating" class="arial_font">Driver rating:</label>
                      <input [(ngModel)]="driveRating" type="text" name="driverRating" id="driverRating" class="bg_gray borderless_input input_size mb-4">
                   </div>
                   <div>
                      <label for="vehicleRating" class="arial_font">Vehicle rating:</label>
                      <input [(ngModel)]="vehicleRating" type="text" name="vehicleRating" id="vehicleRating" class="bg_gray borderless_input input_size mb-4">
                      <!--ne radi--><ngx-star-rating [(ngModel)]="vehicleRating" [id]="'vehicleRating'"></ngx-star-rating>
                   </div>
                   <div>
                    <label for="comment" class="arial_font">Comment:</label>
                    <input [(ngModel)]="comment" type="text" name="comment" id="comment" class="bg_gray borderless_input input_size mb-4">
                 </div>
                   <div>
                      <button data-dismiss="modal" class="btn btn-dark right_button" (click)="giveRating()">Rate</button>
                      <button type="button" data-dismiss="modal" class="btn btn-secondary left_button" (click)="closeModal()">Close</button>
                   </div>
                </form>
             </div>
          </div>
       </div>
    </div>
 </div>