<div>
    <mat-paginator
    #paginatorPassenger="matPaginator"
    showFirstLastButtons
    [pageSizeOptions]="[1, 2]"
    (page)="nextPagePassengers($event)"
    aria-label="Select page of passengers" class="bg_gray">
    </mat-paginator>
    <table mat-table [dataSource]="dataSourcePassengers" class="arial_font bg_gray">
        <ng-container matColumnDef="fullName">
            <th mat-header-cell *matHeaderCellDef>Full name</th>
            <td mat-cell *matCellDef="let element">
                <ng-container *ngIf="element !== undefined">
                    {{element.name}} {{element.surname}}
                </ng-container>
            </td>
        </ng-container>
        <ng-container matColumnDef="rolePassenger">
            <th mat-header-cell *matHeaderCellDef>Role</th>
            <td mat-cell *matCellDef="let element">Passenger</td>
        </ng-container>
        <ng-container matColumnDef="blockedStatus">
          <th mat-header-cell *matHeaderCellDef>Change blocked status</th>
          <td mat-cell *matCellDef="let element">
            <ng-container *ngIf="element !== undefined">
                <button mat-button (click)="showPassengerInfoModal(element)">Blocked status</button>
            </ng-container>
          </td>
      </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumnsPassengers"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsPassengers;"></tr>
    </table>
</div>
<div>
    <mat-paginator
    #paginatorDriver="matPaginator"
    showFirstLastButtons
    [pageSizeOptions]="[1, 2]"
    (page)="nextPageDrivers($event)"
    aria-label="Select page of drivers" class="bg_gray">
    </mat-paginator>
    <table mat-table [dataSource]="dataSourceDrivers" class="arial_font bg_gray">
        <ng-container matColumnDef="fullName">
            <th mat-header-cell *matHeaderCellDef>Full name</th>
            <td mat-cell *matCellDef="let element">
                <ng-container *ngIf="element !== undefined">
                    {{element.name}} {{element.surname}}
                </ng-container>
            </td>
        </ng-container>
        <ng-container matColumnDef="roleDriver">
            <th mat-header-cell *matHeaderCellDef>Role</th>
            <td mat-cell *matCellDef="let element">Driver</td>
        </ng-container>
        <ng-container matColumnDef="blockedStatus">
          <th mat-header-cell *matHeaderCellDef>Change blocked status</th>
          <td mat-cell *matCellDef="let element">
            <ng-container *ngIf="element !== undefined">
                <button mat-button (click)="showDriverInfoModal(element)">Blocked status</button>
            </ng-container>
          </td>
      </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumnsDrivers"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsDrivers;"></tr>
    </table>
</div>