.w-90 {
    width: 80vw;
}

.center {
    margin: auto;
}

.font-size {
    width: 8vw;
}

.date-width {
    width:30vw;
}

.datepicker-width {
    width: 17vw;
}

.margin-left {
    margin-left: 1.8vw;
}