.bg-pic {
    background-image: url('../../../assets/taxi2.jpg');
    height: 100vh;
    width: 100vw;
    position: relative;
    background-size: cover;
    background-repeat: repeat;
}

.info {
    margin: auto;
    margin-top: 2%;
}
