.route-form {
    margin-top: 30px;
    border: 2px solid black;
}

.arial_font {
    font-family: Arial;
}

.bg_gray {
    background: rgb(238, 237, 237);
}

.bg_black {
    background-color: black;
}

::placeholder {
    font-family: Arial;
}

.borderless_input {
    border: none;
    outline: none;
}

.input_size {
    padding: 12px;
    line-height: 2px;
    width: 100%;
}

.center_text {
    text-align: center;
}

input:focus {
    border: 2px solid black;
}

.form-group {
    padding-inline: 10px;
}

.form-group > button {
    width: 100%;
    height: 100%;
}

.form-group-button > button {
    width: 45%;
    height: 100%;
}

.form-group-button {
    display: flex;
    justify-content: space-between;
}

.geoCode-container-dropdown {
    position: absolute;
    z-index: 1;
    width: 100%;
    max-height: 300px;
    overflow-y: auto;
}

.geocode {
    padding: 10px;
}

.geocode:hover {
    background-color: #C2C2C2;
}

.example-list {
  width: 500px;
  max-width: 100%;
  border: solid 1px #ccc;
  min-height: 60px;
  display: block;
  background: white;
  border-radius: 4px;
  overflow: hidden;
}

.example-box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.mat-icon-button {
    background-color: transparent;
}

.mat-icon-button:hover {
    color: red;
}

.mat-focus-indicator {
    outline: 0px;
}

.checkbox-label {
    margin: 0 12px;
}

.form-select {
    width: 100%;
}