<div class="map">
    <div class="flex-form">
        <app-route-form [loggedPassenger]="loggedPassenger" (makeRouteEvent)="makeRoute($event)" (customizeRideEvent)="customizeRide($event)"></app-route-form>
        <app-route-details *ngIf="estimatedTime" [estimatedTime]="estimatedTime" [estimatedCost]="estimatedCost"></app-route-details>
    </div>
    <div class="flex-map">
        <app-map [drivers]="drivers" [routes]="routes" [waypoints]="routeWaypoints" (estimatedTimeEvent)="getEstimatedTime($event)" (estimatedCostEvent)="getEstimatedCost($event)" (waypointsEvent)="getWaypoints($event)" (routeIdxEvent)="getRouteIdx($event)">
        </app-map>
    </div>
</div>