<div class="bg-pic">
    <div>
        <!-- TODO: add navbar for logged passenger -->
        <app-navbar-start-page></app-navbar-start-page>
    </div>
    <div *ngIf="isLoaded" class="info w-37-5">
        <div app-profile-page-cards [admin]="loggedAdmin" (modalEvent)="openModal($event)"></div>
    </div>
    <div *ngIf="isLoaded && personalInfo">
        <app-modal-personal-info-change [(admin)]="loggedAdmin" (personalInfoModalClosed)="closeModal()"></app-modal-personal-info-change>
    </div>
    <div *ngIf="isLoaded && passwordChange">
        <app-modal-password-change [admin]="loggedAdmin" (passwordChangeModalClosed)="closeModal()"></app-modal-password-change>
    </div>
    <div *ngIf="isLoaded && profilePictureChange">
        <app-modal-picture-change [(admin)]="loggedAdmin" (profilePictureChangeModalClosed)="closeModal()"></app-modal-picture-change>
    </div>
</div>
