<div>
    <form class="ml-3 mr-3 card p-3 bg-light w-25 mt-3" [formGroup]="loginForm" (ngSubmit)="loginCredentials()">
        <h2 class="arial_font center_text"><b>Login</b></h2>
        <div>
            <label for="email" class="arial_font">Email</label>
            <input type="email" id="email" name="email" class="bg_gray borderless_input input_size mb-3" placeholder="Enter email" formControlName="email" required>
        </div>
        <div>
            <label for="password" class="arial_font">Password</label>
            <input type="password" id="password" name="password" class="bg_gray borderless_input input_size mb-2" placeholder="Enter password" formControlName="password" required>
        </div>
        <div class="mb-4">
            <a href="#">Forgot password?</a>
        </div>
        <button type="submit" class="btn btn-dark arial_font">Login</button>

        <div class="delimiter">
            <div class="x1iyjqo2 xs83m0k xjm9jq1 x1n2onr6 xwtuau4 x11mr3az"></div>
            <div>OR</div>
            <div class="x1iyjqo2 xs83m0k xjm9jq1 x1n2onr6 xwtuau4 x11mr3az"></div>
        </div>

        <div id="googleButtonDiv" class="button">

        </div>

        <button class="btn btn-link arial_font" (click)="signInWithFB() ">Sign in with Facebook</button>

    </form>

</div>