<div class="bg-pic">
    <div>
        <!-- TODO: add navbar for logged passenger -->
        <app-navbar-start-page></app-navbar-start-page>
    </div>
    <div class="center-half">
        <div class="card-deck mt-4 text-center margin-class">
            <div class="card border-dark" app-payment-card [title]="'Buy 10 tokens'" [price]="'10.00'"></div>
            <div class="card border-dark" app-payment-card [title]="'Buy 20 tokens'" [price]="'20.00'"></div>
            <div class="card border-dark" app-payment-card [title]="'Buy 30 tokens'" [price]="'30.00'"></div>
            <div class="card border-dark" app-payment-card [title]="'Buy 40 tokens'" [price]="'40.00'"></div>
        </div>
    </div>
</div>