<div class="modal animate__animated animate__fadeInDown" id="updatePassword" tabindex="-1" role="dialog" aria-labelledby="updatePasswordLabel" aria-hidden="true" [ngStyle]="{'display':displayStyle}">
    <div class="modal-dialog modal-dialog-centered">
       <div class="modal-content">
          <div class="modal-header">
             <h5 class="modal-title arial_font" id="updatePasswordLabel">Change password</h5>
             <button type="button" class="close" (click)="closeModal()">
             <span aria-hidden="true">&times;</span>
             </button>
          </div>
          <div class="modal-body">
             <form>
                <div>
                    <label for="newPassword" class="arial_font">New password</label>
                    <input type="password" name="newPassword" id="newPassword" class="bg_gray borderless_input input_size mb-4" placeholder="Enter new password">
                </div>
                <div>
                    <label for="newPasswordConfirmation" class="arial_font">Confirm new password</label>
                    <input type="password" name="newPasswordConfirmation" id="newPasswordConfirmation" class="bg_gray borderless_input input_size mb-4" placeholder="Enter new password again">
                </div>
                <div>
                    <button data-dismiss="modal" class="btn btn-dark right_button" (click)="updatePassword()">Save</button>
                   <button type="button" data-dismiss="modal" class="btn btn-secondary left_button" (click)="closeModal()">Close</button>
                </div>
             </form>
          </div>
       </div>
    </div>
</div>