<div class="bg-pic">
    <div>
        <!-- TODO: add navbar for logged passenger -->
        <app-navbar-start-page></app-navbar-start-page>
    </div>
    <div *ngIf="isLoaded" class="info w-50">
        <div app-profile-page-cards [passenger]="loggedPassenger" (modalEvent)="openModal($event)"></div>
    </div>
    <div *ngIf="isLoaded && personalInfo">
        <app-modal-personal-info-change [(passenger)]="loggedPassenger" (personalInfoModalClosed)="closeModal()"></app-modal-personal-info-change>
    </div>
</div>
