<form class="card p-3 bg-light border-dark mb-5" [formGroup]="registrationForm" (ngSubmit)="register()">
    <h2 class="arial_font center_text"><b>Register a new user</b></h2>
    <div formGroupName="userGroup">
        <label for="email" class="arial_font">Email</label>
        <input formControlName="email" type="text" id="email" name="email" class="bg_gray borderless_input input_size" placeholder="Enter email" required>
        <label *ngIf="registrationForm.get('userGroup')?.get('email')?.hasError('required') && registrationForm.get('userGroup')?.get('email')?.touched" class="error">Email is required.</label>
        <label *ngIf="registrationForm.get('userGroup')?.get('email')?.hasError('pattern') && registrationForm.get('userGroup')?.get('email')?.touched" class="error">Email isn't entered in the correct format. [Example: john@gmail.com]</label>
    </div>
    <section>
    <div class="left_element mt-3" formGroupName="userGroup">
        <label for="name" class="arial_font">Name</label>
        <input formControlName="name" type="text" id="name" name="name" class="bg_gray borderless_input input_size" placeholder="Enter name" required>
        <label *ngIf="registrationForm.get('userGroup')?.get('name')?.hasError('required') && registrationForm.get('userGroup')?.get('name')?.touched" class="error">Name is required.</label>
        <label *ngIf="registrationForm.get('userGroup')?.get('name')?.hasError('pattern') && registrationForm.get('userGroup')?.get('name')?.touched" class="error">Name should start with a capital letter.</label>
    </div>
    <div class="right_element mt-3" formGroupName="userGroup">
        <label for="surname" class="arial_font">Surname</label>
        <input formControlName="surname" type="text" id="surname" name="surname" class="bg_gray borderless_input input_size" placeholder="Enter surname" required>
        <label *ngIf="registrationForm.get('userGroup')?.get('surname')?.hasError('required') && registrationForm.get('userGroup')?.get('surname')?.touched" class="error">Surname is required.</label>
        <label *ngIf="registrationForm.get('userGroup')?.get('surname')?.hasError('pattern') && registrationForm.get('userGroup')?.get('surname')?.touched" class="error">Surname should start with a capital letter.</label>
    </div>
    </section>
    <section>
    <div class="left_element mt-3" formGroupName="userGroup">
        <label for="city" class="arial_font">City</label>
        <input formControlName="city" type="text" id="city" name="city" class="bg_gray borderless_input input_size" placeholder="Enter city" required>
        <label *ngIf="registrationForm.get('userGroup')?.get('city')?.hasError('required') && registrationForm.get('userGroup')?.get('city')?.touched" class="error">City is required.</label>
        <label *ngIf="registrationForm.get('userGroup')?.get('city')?.hasError('pattern') && registrationForm.get('userGroup')?.get('city')?.touched" class="error">City isn't entered in the correct format.</label>
    </div>
    <div class="right_element mt-3" formGroupName="userGroup">
        <label for="phoneNumber" class="arial_font">Phone number</label>
        <input formControlName="phoneNumber" type="text" id="phoneNumber" name="phoneNumber" class="bg_gray borderless_input input_size" placeholder="Enter phone number" required>
        <label *ngIf="registrationForm.get('userGroup')?.get('phoneNumber')?.hasError('required') && registrationForm.get('userGroup')?.get('phoneNumber')?.touched" class="error">Phone number is required.</label>
        <label *ngIf="registrationForm.get('userGroup')?.get('phoneNumber')?.hasError('pattern') && registrationForm.get('userGroup')?.get('phoneNumber')?.touched" class="error">Phone number isn't entered in correct format. [Example: 0611234567]</label>
    </div>
    </section>
    <section>
    <div class="left_element mt-3" formGroupName="userGroup">
        <label for="password" class="arial_font">Password</label>
        <input formControlName="password" type="password" id="password" name="password" class="bg_gray borderless_input input_size" placeholder="Enter password" required>
        <label *ngIf="registrationForm.get('userGroup')?.get('password')?.hasError('required') && registrationForm.get('userGroup')?.get('password')?.touched" class="error">Password is required.</label>
    </div>
    <div class="right_element mt-3" formGroupName="userGroup">
        <label for="confirmPassword" class="arial_font">Password confirmation</label>
        <input formControlName="confirmPassword" type="password" id="confirmPassword" name="confirmPassword" class="bg_gray borderless_input input_size" placeholder="Confirm password" required>
        <label *ngIf="registrationForm.get('userGroup')?.get('confirmPassword')?.hasError('required') && registrationForm.get('userGroup')?.get('confirmPassword')?.touched" class="error">Password confirmation is required.</label>
    </div>
    </section>
    <!-- Ovaj deo je hidden ako se registruje passenger! -->
    <div *ngIf="tokenService.getRole() === 'ROLE_ADMIN'">
        <h3 class="mb-3 mt-4"> Vehicle information</h3>
        <section>
        <div class="vehicle_left_element" formGroupName="vehicleGroup">
            <label for="registrationNumber" class="arial_font">Registration number</label>
            <input formControlName="registrationNumber" type="text" id="registrationNumber" name="registrationNumber" class="bg_gray borderless_input input_size" placeholder="Enter registration number" required>
            <label *ngIf="registrationForm.get('vehicleGroup')?.get('registrationNumber')?.hasError('required') && registrationForm.get('vehicleGroup')?.get('registrationNumber')?.touched" class="error">Registration number is required.</label>
            <label *ngIf="registrationForm.get('vehicleGroup')?.get('registrationNumber')?.hasError('pattern') && registrationForm.get('vehicleGroup')?.get('registrationNumber')?.touched" class="error">Registration number isn't entered in correct format. [Example: XX000XX]</label>
        </div>
        <div class="vehicle_left_element" formGroupName="vehicleGroup">
            <label for="vehicleName" class="arial_font">Vehicle name</label>
            <input formControlName="vehicleName" type="text" id="vehicleName" name="vehicleName" class="bg_gray borderless_input input_size" placeholder="Enter vehicle name" required>
            <label *ngIf="registrationForm.get('vehicleGroup')?.get('vehicleName')?.hasError('required') && registrationForm.get('vehicleGroup')?.get('vehicleName')?.touched" class="error">Vehicle name is required.</label>
        </div>
        <!-- Ovde se popunajvaju option tagovi sa type-ovima iz baze, neki ngFor -->
        <div class="vehicle_right_element select" formGroupName="vehicleGroup">
            <label for="type" class="arial_font">Vehicle type</label>
            <select formControlName="type" id="type" name="type" class="select_element">
                <option *ngFor="let type of types" [value]="type.name">
                    {{ type.name }}
                </option>
            </select>
            <label *ngIf="registrationForm.get('vehicleGroup')?.get('type')?.hasError('required') && registrationForm.get('vehicleGroup')?.get('type')?.touched" class="error">Vehicle type is required.</label>
        </div>
        </section>
    </div>
        <!-- dodati neki dodatni uslov u zavisnosti ko je ulogovan u disabled  || !registrationForm.get('vehicleGroup')?.valid> -->
        <button type="submit" class="btn btn-dark arial_font mt-3" [disabled]="!registrationForm.get('userGroup')?.valid
         || (!registrationForm.get('vehicleGroup')?.valid && tokenService.getRole() === 'ROLE_ADMIN')"> Register</button>
</form>