<div class="reset-password w-25">
    <form class="card p-3 bg-light border-dark" [formGroup]="resetPasswordForm" (ngSubmit)="resetPasswordSubmit()">
        <h2 class="arial_font center_text"><b>Reset password</b></h2>
        <div class="div-margin">
            <label for="password" class="arial_font">Password</label>
            <input formControlName="password" type="password" id="password" name="password" class="bg_gray borderless_input input_size" placeholder="Enter password" required>
            <label *ngIf="resetPasswordForm.get('password')?.hasError('required') && resetPasswordForm.get('password')?.touched" class="error">Password is required.</label>
        </div>
        <div class="div-margin">
            <label for="confirmPassword" class="arial_font">Password confirmation</label>
            <input formControlName="confirmPassword" type="password" id="confirmPassword" name="confirmPassword" class="bg_gray borderless_input input_size" placeholder="Confirm password" required>
            <label *ngIf="resetPasswordForm.get('confirmPassword')?.hasError('required') && resetPasswordForm.get('confirmPassword')?.touched" class="error">Password confirmation is required.</label>
        </div>
        <button type="submit" class="btn btn-dark arial_font btn-margin">Reset password</button>
    </form>
</div>