<div>
  <mat-paginator
  showFirstLastButtons
  [pageSizeOptions]="[1, 2]"
  (page)="nextPage($event)"
  aria-label="Select page of driver data" class="bg_gray">
  </mat-paginator>
  <table mat-table [dataSource]="dataSource" matSort class="arial_font bg_gray">
      <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
          <td mat-cell *matCellDef="let element"> {{element.id}}</td>
      </ng-container>
      <ng-container matColumnDef="fullName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Full name</th>
          <td mat-cell *matCellDef="let element"> {{element.name}} {{element.surname}}</td>
      </ng-container>
      <ng-container matColumnDef="dateOfRequest">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Date of request</th>
          <td mat-cell *matCellDef="let element"> {{element.dateOfRequest | date:'medium'}}</td>
      </ng-container>
      <ng-container matColumnDef="details">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>View driver data</th>
        <td mat-cell *matCellDef="let element">
          <button mat-button (click)="showModal(element)">Driver data</button>
        </td>
    </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>