<nav class="navbar navbar-expand-lg navbar-dark bg_black py-3">
    <a class="navbar-brand arial_font ml-20" id="uber-passenger" routerLink="/user/home-passenger" 
    title="Home page">UBER-PASSENGER</a>
    <a class="nav-link arial_font" routerLink="/user/purchase-tokens" title="Purchase tokens">
        <fa-icon [icon]="faCoins" size="xl"></fa-icon> {{loggedPassenger.tokens}}
    </a>
    <div class="collapse navbar-collapse mr-20">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item mr-2">
                <a class="nav-link arial_font" routerLink="/user/home-passenger" title="Home page">
                    <fa-icon [icon]="faHome" size="xl"></fa-icon>
                </a>
            </li>
            <li class="nav-item mr-2">
                <a class="nav-link arial_font" routerLink="/user/passenger-profile" title="Personal info">
                    <fa-icon [icon]="faUser" size="xl"></fa-icon>
                </a>
            </li>
            <li class="nav-item mr-2">
                <a class="nav-link arial_font" routerLink="/user/view-drive-history" title="View drive history">
                    <fa-icon [icon]="faRoute" size="xl"></fa-icon>
                </a>
            </li>
            <li class="nav-item mr-2">
                <a class="nav-link arial_font" routerLink="/user/chat/admin" title="Live chat">
                    <fa-icon [icon]="faChat" size="xl"></fa-icon>
                </a>
            </li>
            <li class="nav-item mr-2">
                <a class="nav-link arial_font" routerLink="/user/show-charts" title="View charts">
                    <fa-icon [icon]="faChartSimple" size="xl"></fa-icon>
                </a>
            </li>
            <li>
                <a class="nav-link arial_font" routerLink="/" (click)="logout()" title="Logout">
                    <fa-icon [icon]="faLogout" size="xl"></fa-icon>
                </a>
            </li>
        </ul>
    </div>
</nav>