.forgotten-password {
    margin: auto;
    margin-top: 10%;
}

.bg-pic {
    background-image: url('../../../assets/taxi2.jpg');
    background-size: contain;
    background-position: right bottom;
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
}

.arial_font {
    font-family: Arial;
}

.bg_gray {
    background: rgb(238, 237, 237);
}

.bg_black {
    background-color: black;
}

::placeholder {
    font-family: Arial;
}

.borderless_input {
    border: none;
    outline: none;
}

.input_size {
    padding: 12px;
    line-height: 2px;
    width: 100%;
}

.center_text {
    text-align: center;
}

input:focus {
    border: 2px solid black;
}

input,
label {
    display: block;
}